/* =========================
   MODAL
========================= */

.modal{

    position:fixed;
    inset:0;

    display:none;

    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.65);

    z-index:5000;

    padding:20px;

}

.modal.show{

    display:flex;

}

.modal-content{

    background:white;

    width:100%;
    max-width:450px;

    border-radius:20px;

    padding:50px 30px 10px 30px;

    position:relative;

    animation:popup .25s;

    max-height:90vh;
    overflow-y:auto;

    box-shadow:var(--shadow);

}

.close-modal{

    position:absolute;

    top:15px;
    right:20px;

    background:none;
    border:none;

    font-size:2rem;

    color:var(--blue);

    cursor:pointer;

    transition:.2s;

}

.modal-content h2{

    color:var(--blue);

    margin-bottom:20px;

    text-align:center;

}

.modal-content h3{

    color:var(--blue);

    margin:25px 0 15px;

}

.modal-content p{

    margin-bottom:15px;

    line-height:1.7;

}

.modal-content hr{

    border:none;

    border-top:1px solid #ddd;

    margin:25px 0;

}

@keyframes popup{

    from{

        transform:scale(.9);
        opacity:0;

    }

    to{

        transform:scale(1);
        opacity:1;

    }

}

/* Verhindert das Scrollen der Hauptseite */
body.no-scroll {
    overflow: hidden !important;
    height: 100%; /* Zwingt den Browser, die Höhe einzufrieren */
}



/* =========================
   TEAM INFO BUTTON
========================= */

.team-info-btn {

    width:60%;

    padding:11px 25px;

    border-radius:30px;

    border:2px solid var(--blue);

    background:white;

    color:var(--blue);

    font-weight:700;

    font-size:.95rem;

    cursor:pointer;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:8px;

    margin:0 auto;

    transition:.25s;

}

@media(max-width:600px){
    .team-info-btn {

    width:80%;
}
}

/* =========================
   RESPONSIVE
========================= */

/* TABLET */
@media(max-width:1200px){


    .team-grid {

        grid-template-columns:repeat(2,1fr);

    }


    .feature-grid {

        grid-template-columns:repeat(2,1fr);

    }


    .hero h1 {

        font-size:3rem;

    }
	
	
    .logo span {
	display: none;
    }

}



/* HANDY */
@media(max-width:900px){


    body {

        overflow-x:hidden;

    }


    h2 {

        font-size:2rem;
        margin-bottom:24px;

    }


    .no-handy {

        display:none;

    }


    /* HEADER */


    header {

        position:relative;

    }


    .navbar {

        height:auto;

        flex-direction:column;

        gap:20px;

        padding:20px;

        text-align:center;

    }


    .logo {
		
		margin-left: 24px;

    }


    .logo img {

        width:65px;
        height:65px;

    }
	
	.logo span {
		display: inline;
    }


    .nav-links {

        width:100%;

        flex-direction:column;

        align-items:center;

        gap:15px;

    }


    .btn-nav {

        width:140px;

        text-align:center;
		
		margin-right:24px;

    }



    /* HERO */


    .hero {

        min-height:50vh;

        height:auto;

        padding:120px 20px 60px;
		
		background:

    linear-gradient(
        rgba(0,90,169,.8),
        rgba(0,90,169,.8)
    ),

    url("../images/hero-mobile.jpg");


    background-size:cover;

    background-position:center;

    }


    .hero h1 {

        font-size:2.2rem;

    }


    .hero p {

        font-size:1rem;

        line-height:1.6;

    }


    .hero-buttons {

        width:100%;

        flex-direction:column;

    }


    .btn-primary,
    .btn-secondary {

        width:100%;

        padding:14px;

    }



    /* CONTAINER */


    .container {

        width:92%;

    }



    /* TEAMKARTEN */


    .team-grid,
    .feature-grid {

        grid-template-columns:1fr;

    }


    .team-card {

        padding:25px 20px;

        width:100%;

    }


    .team-card h3 {

        font-size:1.6rem;

    }


    .mobile-card{
        display:block;
        margin-bottom:15px;
    }



    /* TRAININGSTABELLE */


    .table-wrapper {

        overflow-x:auto;

        width:100%;

    }


    .training table {

        min-width:650px;

    }


    .training th,
    .training td {

        padding:12px;

        font-size:.9rem;

    }



    /* KONTAKT */


    .contact {

        padding:50px 0;

    }

	.standard-kontakt {
    
    	margin-top: -8px;

	}



    form {

        gap:15px;

    }


    input,
    select,
    textarea {

        font-size:16px;

    }


    .privacy {

        align-items:flex-start;

    }


    .privacy input {

        margin-top:5px;

    }



    /* FOOTER */


    footer {

        padding:35px 0;

    }


    .footer-links {

        display:flex;

        flex-direction:column;

        gap:15px;

    }


    .footer-links a {

        margin:0;

    }


}

/* =========================
   BUTTON TOUCH FEEDBACK
========================= */

.btn-primary,
.btn-secondary,
.btn-nav,
.team-link,
.team-info-btn,
form button {

    transition: transform .15s ease;

}


.btn-primary:active,
.btn-secondary:active,
.btn-nav:active,
.team-link:active,
.team-info-btn:active,
form button:active {

    transform:scale(0.96);

}
